@model DACS_CNPM.Entities.Hoc_Vien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin tài khoản</h2>


<hr />

<div class="form-horizontal">
    @Html.HiddenFor(model => model.MaHv)
    <div><img src="@Url.Content("~/Content/HV_Images/"+ @Html.DisplayFor(model => model.HinhAnh))" height="99" width="150" /></div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.HoTen) : @Html.DisplayFor(model => model.HoTen)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Loai_TV.TenLoai) : @Html.DisplayFor(model => model.Loai_TV.TenLoai)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.DiaChi) : @Html.DisplayFor(model => model.DiaChi)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Sdt) : @Html.DisplayFor(model => model.Sdt)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.NgaySinh) : @Html.DisplayFor(model => model.NgaySinh)
    </div>
</div>
@{
    var session = (UserLogin)Session[DACS_CNPM.Common.CommonConstants.USER_SESSION];
}
<a href="/Hoc_Vien/Edit/@session.UserID" class="btn btn-success">Sửa thông tin</a>

